{% extends "layout.twig" %}

{% block content %}

<div class="default-page">

    {% include "includes/header.twig" %}
    <div class="page-title">
        {{widget('pagetitle', 'page-title', {})|raw}}       
    </div>

        <!-- Container -->
        <div class="container">

                <!-- Main Widget Zone -->
                {{zone('main')|raw}}

        </div>
        <!-- End Container -->


    {% include "includes/footer.twig" %}

</div>

{% endblock %}
