{% extends "layout.twig" %}

{% block content %}

<div class="template-homepage">

    {% include "includes/header.twig" %}

    <div class="homepage-header">
        <!-- Theme Feature Widget -->
        <div class="feature-container">
            {{widget('feature', 'featurehome', {
                'header': 'profile',
                'strapline': 'This is the strapline',
                'defaultBgImg': asset("images/feature-bg.jpg"),
                'showBtn': true,
                'buttonText': 'LOREM IPSUM'
            })|raw}}
        </div>
        <div class="homepage-signup">
            {{widget('signupform', 'signuphome', {
              'text': 'Submit',
              'label': 'Start inspiring others today!',
              'formTitle': 'Signup Form',
              'email': 'profile'
            })|raw}}
        </div>
    </div>

    <!-- Container -->
    <div class="container">

        <!-- Main Widget Zone -->
        {{zone('main')|raw}}

    </div>
    <!-- End Container -->

     {% include "includes/footer.twig" %}

</div>

{% endblock %}


{% block scripts %}

    <script>
        if($(".content-wrap").length > 0)
        {
        $("body").addClass("feature-content-wrap");
        }
    </script>

{% endblock %}