<!-- Header include -->
<header class="template-header">
    {{widget('extendednavigation', 'navigation', {"align":"center"})|raw}}
    <div class="brand">
        {{widget('logo', 'logo', {"defaultlogo": asset('images/logo-default.png'), "showTplWidget":"0"})|raw}}
        {{widget('companyname', 'companyname', {"business": "profile"})|raw}}
    </div>
    <div class="header-button">
        {{widget('button', 'headerbutton', {
          'text': 'Donate',
          'align': 'widget-align-right',
          'action': 'internal',
          'url': '/donate',
          'target': '_blank'
        })|raw}}
    </div>
</header>

